/* $black: #2F3033;
$white: #FFFFFF;
$blue: #3D78E5;
$green: #089e60;
$red: #FF7D6B;
$gray: #7E818A; */


:root {

    --Accent: #3D78E5;
    --Accent-2: #089e60;
    --Text: #FFFFFF;
    --BG: #2F3033;
    --TextInBtn: #FFFFFF;
    --SubText: #7E818A;
    --CloseBtn: #FF7D6B;

    transition: background-color 0.3s, color 0.3s;

}

:root[theme='dark'] {

    --Accent: #3D78E5;
    --Accent-2: #089e60;
    --Text: #2F3033;
    --BG: #FFFFFF;
    --TextInBtn: #FFFFFF;
    --SubText: #7E818A;
    --CloseBtn: #FF7D6B;

    transition: background-color 0.3s, color 0.3s;

}
