.about {
    position: relative;

    margin-top: 140px;
    margin-bottom: 200px;
    &__us {
        color: var(--Text);
        font-family: 'Inter Bold';
        font-weight: 600;
        line-height: 120%;
        font-style: bold;
        font-size: 48px;
    }
}

