.close {
    position: fixed;
    z-index: 1000;
    left: 0%;
    top: 2%;
    right: 0%;
    bottom: auto;

    display: flex;
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    &__btn {
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        border-radius: 100px;
        background: var(--CloseBtn);

        box-shadow: 0px 0px 40px 0px rgba(47, 48, 51, 0.32);

        &__img svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            display: inline-block;
            fill: var(--TextInBtn);
        }
    }
}