.footer {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1000;

    display: inline-block;
    font-family: 'Inter Bold';
    font-weight: 600;
    line-height: 100%;
    font-style: bold;
    font-size: 20px;
    color: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 32px;

    &__mail {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        display: inline-block;
        cursor: pointer;
        background: url(../icons/Icons-Mail-Dark.svg);
        &:hover {
            background: url(../icons/Icons-Mail-Blue.svg);
            cursor: pointer;
            }
    }

    &__btn {
        display: inline-flex;
        padding: 8px 24px 8px 8px;
        justify-content: center;
        align-items: center;
        gap: 18px;

        border-radius: 100px;
        background: $blue;

        box-shadow: 0px 0px 40px 0px rgba(47, 48, 51, 0.32);

        &:hover {
            background: $green;
            cursor: pointer;
            }

        &__icon {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            display: inline-block;
            background: url(../icons/Social_icons-Telegram-Dark.svg);
        }
    }

    &__language {
        text-transform: lowercase;
        display: inline-block;
    }
}