.header {
    position: fixed;
    z-index: 100;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;

    height: 40px;

    display: inline-block;
    font-family: 'Inter Bold';
    font-weight: 600;
    line-height: 100%;
    font-style: bold;
    font-size: 24px;
    color: var(--Text);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 32px;

    &__logowrapper {
        display: flex;
        width: 60px;
        align-items: center;
        gap: 20px;
        flex-shrink: 0;
    }

    &__changecolor svg {
        fill: var(--Text);
        cursor: pointer;
        &:hover {
            fill: var(--Accent);
            cursor: pointer;
            }
    }


    &__logo {
        font-size: 36px;
        text-transform: uppercase;
        color: var(--Text);
        cursor: pointer;
        &-selected {
            color: var(--Accent);
        }
        &:hover {
            color: var(--Accent);
            cursor: pointer;
            }
    }

    &__menu {
        text-transform: lowercase;
        cursor: pointer;
        color: var(--Text);
        &-selected {
            color: var(--Accent);
        }
        &:hover {
            color: var(--Accent);
            cursor: pointer;
            }
    }
    
    &__myphotowrapper {
        display: flex;
        width: 60px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }

    &__myphoto {
        cursor: pointer;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 3px solid var(--Text);
        background: url(../img/myphoto.png) lightgray 50% / cover no-repeat;
        &-selected {
            border: 3px solid var(--Accent);
        }
        &:hover {
            border: 3px solid var(--Accent);
            cursor: pointer;
            }
    }

}