.header {
    display: inline-block;
    font-family: 'Inter Bold';
    font-weight: 600;
    line-height: 100%;
    font-style: bold;
    font-size: 24px;
    color: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 32px;

    &__logo {
        font-size: 36px;
        text-transform: uppercase;
    }

    &__menu {
        text-transform: lowercase;
    }
    
    &__myphoto {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 3px solid #3D78E5;
        background: url(../img/myphoto.png) lightgray 50% / cover no-repeat;
    }

}