.header {
    position: relative;
    z-index: 100;
    display: inline-block;
    font-family: 'Inter Bold';
    font-weight: 600;
    line-height: 100%;
    font-style: bold;
    font-size: 24px;
    color: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 32px;

    &__logo {
        font-size: 36px;
        text-transform: uppercase;
    }

    &__menu {
        text-transform: lowercase;
        cursor: pointer;
        &:hover {
            color: $blue;
            cursor: pointer;
            }
    }
    
    &__myphoto {
        cursor: pointer;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 3px solid $blue;
        background: url(../img/myphoto.png) lightgray 50% / cover no-repeat;
        &:hover {
            border: 3px solid $green;
            cursor: pointer;
            }
    }

}