
.main {
    &__h1-hello {
        margin-top: 100px;
        margin-bottom: 100px;

        display: inline-block;
        font-family: 'Inter Bold';
        font-weight: 600;
        line-height: 80%;
        font-style: bold;
        font-size: 108px;
        color: $blue;

        text-align: center;
    }

}
