
@media (max-width: 1366px) {

    .container.container_width-1440 {
        max-width: 1060px;
        padding: 0 25px;
    }

    .container.container_oneproject {
        max-width: 1060px;
        padding: 0 25px;
    }

    .header {
        margin: 18px 25px;
        font-size: 20px;
        &__myphoto {
            width: 40px;
            height: 40px;
            border: 2px solid var(--Text);
            &-selected {
                border: 2px solid var(--Accent);
            }
            &:hover {
                border: 2px solid var(--Accent);
                cursor: pointer;
            }
        }
    }

    .footer {
        font-size: 16px;
        margin: 18px 25px;
        &__mailwrapper {
            width: 60px;
        }
        &__languagewrapper {
            width: 60px;
        }
        &__btn {
            height: 50px;
            padding: 8px 24px 8px 5px;
            gap: 12px;
    
            &__icon svg {
                width: 40px;
                height: 40px;
            }
    
        }
    }

    .main {
        &__hello {
            font-size: 46px;
            line-height: 52px;
            max-width: 550px;
            padding: 0px 25px;
        }
        &__KI {
            width: 250px;
            height: 250px;
    
            border-radius: 47px;
            border: 19px solid var(--Accent);
    
            &:hover &__Pen_of_Krishna {
                transform: scale(1.1) rotateZ(-4deg);
                }
    
            p {
                font-size: 138px;
            }

            &__Pen_of_Krishna {
                position: absolute;
                right: 70px;
                top: -120px;
    
                width: 311px;
                height: 395px;
                
            }
        }

    }

    .projects {
        gap: 32px;
        margin-top: 100px;
        margin-bottom: 160px;
        &__one_project {
            gap: 4px;
            &__heading {
                font-size: 50px;
                line-height: 58px;               
            }
            &__subheading {
                font-size: 20px;
            }
            &__img { 
                position: absolute;
                left: auto;
                top: -86px;
                right: 0%;
                bottom: auto;
    
                width: 250px;
                height: 250px;
                border-radius: 60px;
            }
        }
    }

    .close {
        top: 16px;
        &__btn {
            width: 50px;
            height: 50px;
    }
    }

    .oneproject {
        padding-top: 100px;
        padding-bottom: 160px;        
        &__heading {
            gap: 4px;
        }
        &__header {
            font-size: 50px;
        }
        &__subheader {
            font-size: 20px;
        }

        &__basicinfo {
            gap: 4px;
    
            &__wrapper {
                margin-top: 32px;
            }
            &__left {
                gap: 32px;
            }
            &__right {
                gap: 32px;
            }
            &__label {
                font-size: 16px;
    
            }
            &__text {
                font-size: 16px;
            }
            &__link {
                font-size: 16px;
            }
        }
        &__paragraph {
            margin-top: 40px;
            max-width: 1100px;
            font-size: 20px;
            line-height: 140%;
        }
        &__screenshots {
            margin-top: 40px;
            gap: 24px;
    
            &__header {
                font-size: 20px;
            }

            &__oneimg {
                &-first {
                    border-radius: 20px 20px 0px 0px;
                }
                &-last {
                    border-radius: 0px 0px 20px 20px;
                }
            } 
        }
    }

    .about {    
        margin-top: 100px;
        margin-bottom: 160px;
        &__us {
            font-size: 40px;
        }
    }


}

@media screen and (max-width: 1024px) {
    .container.container_width-1440 {
        max-width: 780px;
    }
    .container.container_oneproject {
        max-width: 800px;
    }
    .projects {
        gap: 28px;
        margin-top: 100px;
        margin-bottom: 160px;
        &__one_project {
            gap: 2px;
            &__heading {
                font-size: 44px;
                line-height: 50px;               
            }
            &__subheading {
                font-size: 16px;
            }
            &__img { 
                position: absolute;
                left: auto;
                top: -76px;
                right: 0%;
                bottom: auto;
    
                width: 220px;
                height: 220px;
                border-radius: 48px;
            }
        }
    }

    .oneproject {
        padding-top: 90px;
        padding-bottom: 140px;        
        &__heading {
            gap: 4px;
        }
        &__header {
            font-size: 44px;
        }
        &__subheader {
            font-size: 16px;
        }

        &__basicinfo {
            gap: 2px;
    
            &__wrapper {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                align-self: stretch;
            }
            &__left {
                gap: 32px;
            }
            &__right {
                gap: 32px;
            }
            &__label {
                font-size: 14px;
    
            }
            &__text {
                font-size: 14px;
            }
            &__link {
                font-size: 14px;
            }
        }
        &__paragraph {
            margin-top: 32px;
            font-size: 18px;
            line-height: 140%;
        }
        &__screenshots {
            margin-top: 32px;
            gap: 20px;
    
            &__header {
                font-size: 18px;
            }
        }
    }


    .about {    
        margin-top: 100px;
        margin-bottom: 160px;
        &__us {
            font-size: 32px;
        }
    }

    .close {
        top: 8px;
    }
}


@media (max-width: 768px) {
    .container.container_width-1440 {
        max-width: 600px;
        padding: 0 16px;
    }
    .container.container_oneproject {
        max-width: 800px;
        padding: 0 16px;
    }

    .main {
        &__hello {
            padding: 0px 16px;
        }
    }

    .header {
        margin: 12px 16px;
    }

    .footer {
        margin: 12px 16px;
    }

    .projects {    
        &__one_project {
            &:hover &__img {
                display: none;
                }

    
            &__img {
                display: none;
            }
    
        }
    }

    .oneproject {
        padding-top: 80px;
        padding-bottom: 120px;        
        &__heading {
            gap: 4px;
        }
        &__header {
            font-size: 44px;
        }
        &__subheader {
            font-size: 16px;
        }

        &__basicinfo {
            gap: 2px;
    
            &__wrapper {
                margin-top: 24px;
                gap: 14px;
            }
            &__left {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 14px 24px;
                align-self: stretch;
                flex-wrap: wrap;
            }
            &__right {
                gap: 24px;
            }
            &__label {
                font-size: 14px;
    
            }
            &__text {
                font-size: 14px;
            }
            &__link {
                font-size: 14px;
            }
        }
        &__paragraph {
            margin-top: 32px;
            font-size: 18px;
            line-height: 140%;
        }
        &__screenshots {
            margin-top: 32px;
            gap: 20px;
    
            &__header {
                font-size: 18px;
            }
        }
    }
        
}


@media (max-width: 440px) {
    .container.container_width-1440 {
        max-width: 313px;
    }
    .container.container_oneproject {
        max-width: 800px;
    }

    .main {
        &__wrapper {
            gap: 24px;
        }
        &__hello {
            font-size: 36px;
            line-height: 42px;
            max-width: 352px;

        }
        &__KI {
            width: 250px;
            height: 250px;
    
            border-radius: 47px;
            border: 19px solid var(--Accent);
    
            &:hover &__Pen_of_Krishna {
                transform: scale(1.1) rotateZ(-4deg);
                }
    
            p {
                font-size: 138px;
            }

            &__Pen_of_Krishna {
                position: absolute;
                right: 0px;
                top: -120px;
    
                width: 311px;
                height: 395px;
                
            }
        }
    }

    .projects {
        gap: 24px;
        margin-top: 80px;
        margin-bottom: 140px;
        &__one_project {
            gap: 2px;
            &__heading {
                font-size: 32px;
                line-height: 36px;               
            }
        }
    }

    .close {
        top: 2px;
    }

    .oneproject {
        padding-top: 80px;
        padding-bottom: 120px;        
        &__heading {
            gap: 2px;
        }
        &__header {
            font-size: 32px;
        }

        &__basicinfo {
            gap: 2px;
    
            &__wrapper {
                margin-top: 24px;
                gap: 14px;
            }
            &__left {
                gap: 14px 20px;
            }
            &__right {
                gap: 20px;
            }
        }
        &__paragraph {
            margin-top: 20px;
            font-size: 16px;
            line-height: 140%;
        }
        &__screenshots {
            margin-top: 20px;
            gap: 20px;
    
            &__header {
                font-size: 16px;
            }

            &__oneimg {
                &-first {
                    border-radius: 16px 16px 0px 0px;
                }
                &-last {
                    border-radius: 0px 0px 16px 16px;
                }
            } 
        }
    }

    .about {    
        margin-top: 80px;
        margin-bottom: 140px;
        &__us {
            font-size: 24px;
        }
    }


}


@media (max-width: 360px) {
    .classname {
        height: 800px; 
    }
    
}