
@media (max-width: 1366px) {
    .classname {
        height: 800px;    
    }
}

@media screen and (max-width: 991px) {
    .classname {
        height: 800px; 
    }
}


@media (max-width: 860px) {
    .classname {
        height: 800px; 
        }
        
}

@media (max-width: 768px) {
    .classname {
        height: 800px; 
    }
}

@media (max-width: 630px) {
    .classname {
        height: 800px; 
    }
}



@media (max-width: 600px) {
    .classname {
        height: 800px; 
    }
}

@media (max-width: 480px) {
    .classname {
        height: 800px; 
    }

}


@media (max-width: 360px) {
    .classname {
        height: 800px; 
    }
    
}