.projects {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;

    margin-top: 120px;
    margin-bottom: 200px;

    &__one_project {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        cursor: pointer;

        &:hover &__heading {
            color: var(--Accent);
            cursor: pointer;
            }
        &:hover &__img {
            display: inline-block;

            opacity: 100%;
            transform: translate(0px, 0px);

            transition: all 0.3s ease-in-out;
            }

        &__heading {
            color: var(--Text);
            font-family: 'Inter Bold';
            font-weight: 600;
            line-height: 74px;
            font-style: bold;
            font-size: 68px;
            
        }
        &__subheading {
            color: var(--SubText);
            font-family: 'Inter';
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__img {
            display: inline-block;

            opacity: 0%;
            /* transform: translate(400px, 0px); */

            position: absolute;
            left: auto;
            top: -100px;
            right: 0%;
            bottom: auto;

            width: 298px;
            height: 298px;
            border-radius: 80px;
        }

    }
}